.content{
    padding-top: 100px;
    h4{
       color: darkturquoise;
       font-size: 20px;
    }
    h2{
        font-size: 40px;
        color: darkslategrey;
        letter-spacing: 2px;
        padding-top: 20px;
    }
    p{
        color: grey;
        width: 42%;
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 40px;
        padding-top: 20px;
    }
}